h1, h3, h5 {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h6, nav, ul, p {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "ROND" 0;
}
h1, h3, h6, p {
    text-align: center;
    margin: 0.5rem 0;
}
ul{
    list-style-type:none;
    text-decoration: none;
}
a:link, a:visited, a:active{
    text-decoration: none;
}

#info_button{
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#footer_title{
    margin-top: 5%;
}
.card-img-top{
    max-height: 180px;
    object-fit: contain;
}

.card-title{
    text-align: center;
}

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}